.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px 32px;
    background-color: #f5efe7;
    border-bottom: 1px solid #e0d6cc;
    margin-bottom: 24px;
}

.navbar ul {
    list-style: none;
    display: flex;
    gap: 24px;
}

.navbar a {
    text-decoration: none;
    color: #3a2f2f;
    font-weight: 500;
    font-size: 16px;
}

.navbar a:hover {
    color: #b08968
}

.logo {
    font-weight: 600;
    font-size: 20px;
    color: #3a2f2f;
    letter-spacing: 0.5px;
}

main {
    padding: 40px 20px;
    margin: 0 auto;
    max-width: 900;
}


header h1 {
    text-align: center;
    font-size: 36px;
    color: #3a2f2f;
    font-size: 36px;
    font-weight: 600;
    letter-spacing: 0.5px;
    margin-top: 24px;
    margin-bottom: 24px;
}

#home {
    background-color: #ffffff;
    padding: 32px 24px;
    border-radius: 12px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.06);
}

.home-image {
    display: block;
    margin: 0 auto 24px;
    max-width: 100%;
    width: 900px;
    border-radius: 10px;
    margin-bottom: 24px;
}

#about {
    max-width: 800px;
    margin: 0 auto;
    text-align: center;
}

footer {
    text-align: center;
    padding: 16px 0;
    background-color: #f5efe7;
    border-top: 1px solid #e0d6cc;
    margin-top: 40px;
    color: #3a2f2f;
    font-size: 14px;
}